:root {
  /* colors */
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-hover: #535bf2;

  /* spacing */
  --space-xs: 4px;
  --space-s: 8px;
  --space-base: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 40px
}

body {
  padding: var(--space-base);
}

.display-flex {
  display: flex
}

.justify-content-center {
  justify-content: center
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.login-form {
  width: 50%;
  min-width: 300px;
  border: 2px solid var(--color-primary);
  padding: var(--space-base);
}

.login-form div {
  display: flex;
  justify-content: center;
}

.input-widget {
  display: flex;
  margin: var(--space-base);
  align-items: center;
}

.input-widget label {
  width: 104px;
}

.input-widget input {
  margin-left: var(--space-s);
  height: var(--space-m);
}
/* 
blogpost page */
.blogposts-list ul {
  list-style: none;
}

.blogposts-listing .contents {
  margin-left: var(--space-base);
}

.navbar {
  height: var(--space-xl);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img, .navbar .logo {
  height: 100%;
  border-radius: 50%;
};

.navbar .logout:hover {
  color: var(--color-hover);
  cursor: pointer;
}
